{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">

            </div>
        </div>
    </div>

    <main role="main" class="container">
        <div class="row">
            <diov class="col-12">
                <a href="{% url 'main:blog_create' page_obj %}" class="btn btn-primary m-3 ">Написать пост</a>
            </diov>
            {% for object in object_list %}
                {% if object.is_active and object.sign %}
                <div class="col-md-8 blog-main">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">World</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">{{ object.header }}</a>
                            </h3>
                            <div class="mb-1 text-muted">{{ object.create_data }}</div>
                            <p class="card-text mb-auto">{{ object.content }}</p>

                            <nav class="blog-pagination">
                                <a class="btn btn-outline-primary"
                                   href={{ object.slug }}>Смотреть</a>
                                <a> Просмотров: {{ object.views }}</a>
                            </nav>
                        </div>
                        {% if object.image %}
                            <img class="card-img-right flex-auto d-none d-md-block" src="{{ object.image.url }}"
                                 alt="Card image cap">
                        {% endif %}

                    </div>


                </div><!-- /.blog-main -->
                {% endif %}
            {% endfor %}

        </div><!-- /.row -->

    </main><!-- /.container -->
{% endblock %}